{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- shortcut icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/media/img/icon.png">
    <title>{{ title }}</title>

    <!-- bootstrap -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- css styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'pharmacy/css/styles.css' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
<!-- -----------navbar------------ -->
<header id="header" class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark" role="navigation">
        <div class="container mx-auto">
            <a href="{% url 'home' %}" class="navbar-brand ms-xl-5 me-sm-0 fs-2">
                <img class="navbar-logo" src="/media/img/icon.png" alt="Company Logo">Almaty
                Pharmacy</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent"
                    aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navContent">
                <ul class="navbar-nav mb-3 mb-lg-0 fs-5 px-auto">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link px-3">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'about' %}" class="nav-link px-3">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'contact' %}" class="nav-link px-3">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'catalog' %}" class="nav-link px-3">Catalog</a>
                    </li>
                    {% if not request.user.is_authenticated %}
                        <li class="nav-item">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#myModal" class="nav-link px-3"
                                    style="background:transparent; border:none;">Cart
                            </button>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'cart' %}" class="nav-link px-3">Cart</a>
                        </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle px-3" id="navbarDropdown"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Account</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'profile' %}">
                                    <i class="bi bi-person pe-1"></i>My page</a>
                                <a class="dropdown-item" href="{% url 'orders' %}">
                                    <i class="bi bi-clipboard pe-1"></i>My orders</a>
                                <a class="dropdown-item" href="{% url 'logout' %}">
                                    <i class="bi bi-box-arrow-right pe-1"></i>Log out</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link sign-in px-3">Login</a>
                        </li>
                        <li class="py-2">
                            |
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'register' %}" class="nav-link sign-in px-3">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="mt-lg-5 pt-lg-4 text-center">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
        {% endfor %}
    {% endif %}
</div>

{% block content %}
{% endblock %}

<!-- -----------footer part------------ -->
<footer id="footer">
    <div class="footer-info pt-3">
        <div class="container">
            <div class="row justify-content-evenly">
                <div class="col-sm-4 text-center">
                    <h2>Working Hours</h2>
                    <h4>Mon – Fri 9:00am – 5:30pm
                        <br>Saturday 9:00am – 12:00pm
                        <br>Sunday Closed</h4>
                </div>
                <div class="col-sm-4 text-center">
                    <h2>Location</h2>
                    <h4>Almaty, Almaly district,
                        Abay avenue 47</h4>
                </div>
            </div>
            <div class="row justify-content-evenly pb-3">
                <div class="col-sm-4 text-center">
                    <h2>Contact</h2>
                    <h4>Phone: +7 797 444 33 11</h4>
                </div>
                <div class="col-sm-4 text-center">
                    <h2>Follow us</h2>
                    <h4><a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-telegram"></i></a>
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-creator">
        <div class="col-12 text-center">Created by Kabyl Dauren</div>
    </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Please login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                To use this you need a login.
            </div>
            <div class="modal-footer">
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
            </div>
        </div>
    </div>
</div>

<!-- js script from bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

<!-- js animation script -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</body>
</html>