{% extends 'pharmacy/base.html' %}

{% block content %}
    <section>
        <div class="container">
            <div class="row mb-3">
                <div class="col-lg-6 fs-5">
                    <h1 class="text-center">Heart-Healthy Living</h1>
                    <h3>1. Go for regular checkups</h3>
                    <p>At least once a year, get a physical to make sure you haven’t developed any conditions that would
                        put you at risk for heart disease, and to make sure you are controlling any conditions you
                        already have.</p>
                    <h3>2. Keep tabs on your blood pressure and cholesterol</h3>
                    <p>If you’re getting regular checkups, your doctor can help you track this, but you can also use a
                        home blood pressure device or a blood pressure machine in a pharmacy. Your pharmacist can also
                        check your blood pressure.
                    </p>
                </div>
                <div class="col-lg-6 text-center">
                    <img class="about-img" src="/media/img/information%201.png" alt="About our pharmacy"
                         data-aos="fade-right">
                </div>
            </div>
            <div class="row">
                <div class="col-12 fs-5">

                    <h3>3. Manage your diabetes</h3>
                    <p>If you have diabetes, make sure you’re closely watching your blood sugar levels, eating well, and
                        exercising.</p>
                    <h3>4. Don’t skip your medications</h3>
                    <p>If you’re taking medications for blood pressure, cholesterol, or diabetes, take them as directed.
                        If you’re having unpleasant side effects, don’t stop taking them. Instead, ask about other
                        options.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}