{% extends 'pharmacy/base.html' %}

{% block content %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5680276229550252"
            crossorigin="anonymous"></script>
    <!-- ad -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5680276229550252"
         data-ad-slot="4122787341"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12"><h2 class="information-title text-center mb-5">Purchase of medicines</h2></div>
                <div class="col-lg-8 table-responsive text-md-end text-center">
                    <table class="table table-sm table-hover align-middle text-start">
                        <thead class="table-light">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Drug name</th>
                            <th scope="col">Cost</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total Item Cost</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order_item in objects.items.all %}
                            <tr>
                                <td class="text-center"><img class="cart-img" src="{{ order_item.item.img.url }}" alt="Good"></td>
                                <td><a class="text-decoration-none text-black"
                                       href="{{ order_item.item.get_absolute_url }}">{{ order_item.item.name }}</a></td>
                                <td> {% if order_item.item.discount %}
                                    {{ order_item.item.discount_cost }}&#8376;
                                    {% elif order_item.item.special %}
                                    {{ order_item.item.special_cost }}&#8376;
                                    {% else %}
                                    {{ order_item.item.cost }}&#8376;
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'remove-single-item-from-cart' order_item.item.slug %}"><i class="bi bi-dash fs-5"></i></a>
                                    {{ order_item.quantity }}
                                    <a href="{{ order_item.item.get_add_to_cart_url }}"><i class="bi bi-plus fs-5"></i></a>
                                </td>
                                <td>
                                    {% if order_item.item.discount %}
                                        {{ order_item.get_total_discount_item_cost }}&#8376;
                                        <span class="badge primary">(Saving {{ order_item.get_amount_saved }}&#8376;)</span>
                                    {% elif order_item.item.special %}
                                        {{ order_item.get_total_special_item_cost }}&#8376;
                                        <span class="badge success">(Saving {{ order_item.get_amount_saved }}&#8376;)</span>
                                    {% else %}
                                        {{ order_item.get_total_item_cost }}&#8376;
                                    {% endif %}
                                </td>
                                <td><a href="{{ order_item.item.get_remove_from_cart_url }}"
                                       class="btn btn-remove-from-cart btn-remove-from-cart-sm">
                                    <i class="bi bi-trash"></i>
                                </a></td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan='5'>Your cart is empty</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th scope="col" colspan="4" class="text-end">Total Order Cost</th>
                            <th scope="col">{{ objects.get_total_cost }}&#8376;</th>
                        </tr>
                        </tfoot>
                    </table>
                    <div class="row-cols-2">
                        <a href='{% url 'catalog' %}' class='btn btn-shop text-uppercase'>Continue shopping</a>
                        <a href="{% url 'checkout' %}" class="btn btn-purchase text-uppercase">Checkout</a>
                    </div>

                </div>
            </div>
        </div>

        <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5680276229550252"
                crossorigin="anonymous"></script>
        <!-- ad -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-5680276229550252"
             data-ad-slot="4122787341"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </section>
{% endblock %}