{% extends 'pharmacy/base.html' %}

{% block content %}
    <section class="goods">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-4"><h2>Catalog</h2></div>
                <div class="col-md-12 col-lg-4">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2 search" type="search" placeholder="Search"
                               aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div class="row justify-content-around mx-xl-5">
                {% for item in object_list %}
                    <div class="goods-block col-lg-4 col-md-6 col-sm-12 text-center mb-4 pb-3 px-0">
                        <img src="{{ item.img.url }}" alt="Good">
                        <a href="" class="good-category"><h6>{{ item.get_category_display }}</h6></a>
                        <span class="good-span"><a href="{{ item.get_absolute_url }}"
                                                   class="good-page">{{ item.name }}
                            {% if item.discount %}
                                <br>{{ item.discount_cost }} &#8376;</a>
                                <span class="badge primary">Discount</span>
                            {% else %}
                                <br>{{ item.cost }} &#8376;</a>
                            {% endif %}</span>
                        <a href="{{ item.get_add_to_cart_url }}"
                           class="btn btn-add-to-cart btn-add-to-cart-sm btn-sm text-uppercase pt-1">add to cart
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}