{% extends 'pharmacy/base.html' %}

{% block content %}
    <section>
        <div class="container">
            <div class="row mb-3">
                <div class="col-lg-6 fs-5">
                    <h1 class="text-center">5 nutrition tips for better health and longevity</h1>
                    <h3>1. Include protein with every meal</h3>
                    <p>Including some protein with every meal can help balance blood sugar.
                        Some studiesTrusted Source suggest higher protein diets can be beneficial for type 2 diabetes.
                        Other researchTrusted Source indicates balancing blood sugar can support weight management and
                        cardiovascular health.</p>
                </div>
                <div class="col-lg-6 text-center">
                    <img class="about-img" src="/media/img/information%202.jpg" alt="About our pharmacy"
                         data-aos="fade-right">
                </div>
            </div>
            <div class="row">
                <div class="col-12 fs-5">
                    <h3>2. Eat oily fish</h3>
                    <p>According to researchTrusted Source, omega-3 fatty acids in oily fish are essential for cell
                        signaling, gene expression, and brain and eye development.</p>
                    <h3>3. Eat whole grains</h3>
                    <p>Whole grains contain nutrients such as B vitamins, iron, and fiber. These nutrients are essential
                        for body functions that include carrying oxygen in the blood, regulating the immune system, and
                        balancing blood sugar.</p>
                    <h3>4. Eat a rainbow</h3>
                    <p>The saying ‘eat a rainbow’ helps remind people to eat different colored fruits and vegetables.
                        Varying the color of plant foods means that someone gets a wide variety of antioxidants
                        beneficialTrusted Source to health, for example, carotenoids and anthocyanins</p>
                    <h3>5. Eat your greens</h3>
                    <p>Leafy greens are rich in vitamins, minerals, and antioxidants.
                        The USDA suggest that folate in leafy greens may help protect against cancer, while vitamin K
                        helps prevent osteoporosis.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}