{% extends 'pharmacy/base.html' %}

{% block content %}
    <section class="goods">
        <div class="container">
            <div>
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'catalog' %}" class="text-decoration-none">Catalog</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ object_list.0.get_category_display }}</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-3"><h2>Catalog</h2></div>
                <div class="col-sm-12 col-md-9 text-end">
                    <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'search' %}">
                        <input class="form-control search d-inline-block" name="q" id="q" type="search"
                               placeholder="Search"
                               aria-label="Search">
                        <button class="btn btn-outline-success d-inline-block" type="submit"><i
                                class="bi bi-search"></i></button>
                    </form>
                </div>
            </div>
            <div class="row justify-content-around mx-xl-5">
                {% for item in object_list %}
                    <div class="goods-block col-lg-4 col-md-6 col-sm-12 text-center mb-4 pb-3 px-0">
                        <img src="{{ item.img.url }}" alt="Good">
                        <h6>{{ item.get_category_display }}</h6>
                        <span class="good-span"><a href="{{ item.get_absolute_url }}"
                                                   class="good-page">{{ item.name }}
                            {% if item.discount %}
                                <br>{{ item.discount_cost }} &#8376;</a>
                                <span class="badge primary">Discount</span>
                            {% else %}
                                <br>{{ item.cost }} &#8376;</a>
                            {% endif %}</span>
                        <a href="{{ item.get_add_to_cart_url }}"
                           class="btn btn-add-to-cart btn-add-to-cart-sm btn-sm text-uppercase pt-1">add to cart
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}