{% extends 'pharmacy/base.html' %}

{% block content %}
    <section>
        <div class="pb-50">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <h2>Your password has been reset</h2>
                        <h3><a href="{% url 'login' %}" class="nav-link sign-in px-3">Log in with new password</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}