{% extends 'pharmacy/base.html' %}
{% load static %}

{% block content %}
    <section class="login">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <form method="post" id="password-change-form">
                        {% csrf_token %}
                        <h2 class="text-center"> Change password </h2>
                        <div class="mb-3">
                            <label for="old-password" class="form-label fs-5"> Old password </label>
                            <input class="form-control" type="password" name="old-password"
                                   id="old-password" required>
                        </div>
                        <div class="mb-3">
                            <label for="new-password1" class="form-label fs-5"> New password </label>
                            <input class="form-control" type="password" name="new_password1"
                                   id="new-password1" required>
                        </div>
                        <div class="mb-3">
                            <label for="new-password2" class="form-label fs-5"> Confirm Password </label>
                            <input class="form-control" type="password" name="new_password2"
                                   id="new-password2" required>
                        </div>

                        {% for field in change_form %}
                        <p>
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        {% endfor %}
                        {% if change_form.non_field_errors %}
                        <div style="color: red">
                            <p>{{ change_form.non_field_errors }}</p>
                        </div>
                        {% endif %}

                        <div class="text-center">
                            <button form="password-change-form" type="submit" class="btn login-btn mx-auto mb-3 fs-4">
                                Change password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}