{% extends 'pharmacy/base.html' %}

{% block content %}
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <form method="post" id="password-reset-form">
                        {% csrf_token %}
                        <h2 class="text-center"> Reset password </h2>
                        <div class="mb-3">
                            <label for="reset-password-email" class="form-label fs-5"> Email address </label>
                            <input class="form-control" type="email" name="email" id="reset-password-email"
                                   placeholder="example@mail.ru" required>
                        </div>
                        <div class="mb-3">
                            <label for="new-password1" class="form-label fs-5"> Password </label>
                            <input class="form-control" type="password" name="new_password1"
                                   id="new-password1" required>
                        </div>
                        <div class="mb-3">
                            <label for="new-password2" class="form-label fs-5"> Confirm Password </label>
                            <input class="form-control" type="password" name="new_password2"
                                   id="new-password2" required>
                        </div>

                        {% for field in reset_form %}
                            <p>
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                        {% endfor %}
                        {% if reset_form.non_field_errors %}
                            <div style="color: red">
                                <p>{{ reset_form.non_field_errors }}</p>
                            </div>
                        {% endif %}

                        <div class="text-center">
                            <button form="password-reset-form" type="submit" class="btn login-btn mx-auto mb-3 fs-4">
                                Reset password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}