{% extends 'pharmacy/base.html' %}

{% block content %}
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8">
                    <div class="card profile-content">
                        <div class="profile-info">
                            <div class="profile-title text-center"><h1>Personal cabinet</h1></div>
                            <div class="profile-info">
                                <div class="row mt-2 justify-content-center">
                                    <div class="col-md-4 ps-5"><p class="mt-4 mb-1 field-heading">First Name</p>
                                        <h5>{{ first_name }}</h5></div>
                                    <div class="col-md-4 ps-5"><p class="mt-4 mb-1 field-heading">Last Name</p>
                                        <h5>{{ last_name }}</h5></div>
                                </div>
                                <div class="row mt-2 justify-content-center">
                                    <div class="col-md-4 ps-5"><p class="mt-4 mb-1 field-heading">Email</p>
                                        <h5>{{ email }}</h5></div>
                                    <div class="col-md-4 ps-5"><p class="mt-4 mb-1 field-heading">Phone</p>
                                        <h5>{{ phone }}</h5></div>
                                    <div class="col-md-8 ps-5"><p class="mt-4 mb-1 field-heading">Address</p>
                                        <h5>{{ address }}</h5></div>

                                </div>
                                <div class="row mt-2 justify-content-center">
                                    <div class="col-md-4 ps-sm-5">
                                        <a class="btn contact-btn fs-5 mb-3" href="{% url 'edit' %}">Edit my
                                            information</a></div>
                                    <div class="col-md-4 ps-sm-5">
                                        <a class="btn contact-btn fs-5 mb-3" href="{% url 'password_change' %}">Change
                                            password</a></div>
                                </div>
                                <div class="row mt-2 justify-content-center">
                                    <div class="col-md-4 ps-sm-5">
                                        <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                                class="btn btn-danger fs-5 mb-3">Delete my account
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    If you deleted you lost all your information. If you come back you will need to create new account.
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger fs-5 mb-3" href="{% url 'delete' %}">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}